
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

.c_padding{
padding-top:50px;
padding-bottom: 70px; 
}
/*header start*/
header{
    padding: 10px 0;
    
}
 .menu ul li a{
    padding: 10px 0 0 !important;
    font-size: 20px;
    text-align: right;
 }
 /*slider start*/
 .slider{
    padding-bottom: 60px;
 }
 .c_ind{
    bottom: -60px;
 }
 .c_ind [data-bs-target]{
    width: 13px;
    height: 13px;
}
 .s_text{
    margin-top: 0px;
 }
 .s_text h1{
    font-size: 25px;
    
 }
 .s_text h2{
    margin: 10px 0;
    font-size: 18px;
 }
 .s_text p{
    margin-bottom: 20px;
 }
.s_icon ul li {
    margin-right: 25px !important;
}
.s_icon ul li i{
    font-size: 35px;
}
/*feature start*/

.c_h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.c_p {
    font-size: 18px;

}.f_item{
    margin-top: 20px;
}
.f_icon{
    font-size: 40px;
}
.f_text{
    text-align: center;
}
.f_text h2{
    margin-bottom: 5px;
    font-size: 20px;
}
/*contact start*/
.c_form{
    margin-top: 40px;
    margin-bottom: 40px;
    }

.c_input{
    height: 45px;
    padding: 10px 10px;
}
.c_submit{
    height: 45px;
}
 .c_icon li {
    margin-right: 25px !important;
}
 .c_icon li i{
    font-size: 38px;
}
/*footer start*/
footer{

    padding-bottom: 70px;
}
.f_1{
    text-align: center;
    
}
.f_2{
    margin-top: 40px;
    text-align: center;
}


}

    


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .c_padding{
    padding-top: 50px;
    padding-bottom:70px;
}
/*header start*/
header{
    padding: 10px 0;
}
.menu ul li a {
    margin: 10px 0 0;
    font-size: 20px;
   text-align: right;
   padding: 0;
 }
 /*slider start*/
 .slider{
    padding-bottom: 60px;
 }
 .c_ind{
    bottom: -50px;
 }
 .c_ind [data-bs-target]{
    width: 13px;
    height: 13px;
}
 .s_text{
    margin-top: 20px;
 }
 .s_text h1{
    font-size: 25px;
    
 }
 .s_text h2{
    margin: 10px 0;
 }
 .s_text p{
    margin-bottom: 25px;
 }
.s_icon ul li {
    margin-right: 25px !important;
}
.s_icon ul li i{
    font-size: 35px;
}
/*feature start*/
.c_h1{
    font-size: 25px;
}
.c_p {
    font-size: 18px;
}
.f_item{
    margin-top: 20px;
}
.f_icon{
    font-size: 40px;
}
.f_text{
    text-align: center;
}
.f_text h2{
    margin-bottom: 5px;
    font-size: 20px;
}
/*contact start*/
.c_input{
    height: 45px;
    padding: 10px 10px;
 }
 .c_submit{
    height: 45px;
 }
 .c_icon li {
    margin-right: 25px !important;
}
 .c_icon li i{
    font-size: 40;
}
/*footer start*/
footer{
    padding-bottom: 70px;
}
.f_1{
    text-align: center;
    margin-bottom: 40px;

}
.f_2{
    text-align: center;
}
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .c_padding{
    padding-top: 80px;
    padding-bottom: 100px;
    }

 /*header start*/
 .menu ul li a{
    text-align: right;
    margin: 10px 0 0 !important;
    padding: 0;
    
 }
 /*feature start*/
.f_item{
    margin-top: 40px;
}
.f_text{
    text-align: center;
}
/*contact start*/
.c_form{
margin-top: 65px;
margin-bottom: 70px;

}
/*footer start*/
footer{
padding-bottom: 100px;
}
/*footer end*/

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
 }
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
 }

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
 }
